@model easycounting.Models.Revenue

@{
    ViewBag.Title = "Add Revenue";
    Layout = "~/Views/Shared/Menu.cshtml";
}

<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">Expenses</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="easycounting/">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="easycounting/sales">Sales</a>
                </li>
                <li class="breadcrumb-item active">Add Revenue</li>
            </ul>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{



    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form action="#">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Choose customer</label>
                                    <div>
                                        @Html.DropDownList("customerID", ViewBag.customers as SelectList, new { @class = "form-control ", @style = "" })
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Choose payment expense category</label>
                                    @Html.DropDownList("salesD", ViewBag.categories as SelectList, new { @class = "form-control ", @style = "" })
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Status</label>
                                    @Html.DropDownList("status", ViewBag.status as SelectList, new { @class = "form-control ", @style = "" })
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <label>Description:</label>
                                @Html.TextAreaFor(x => x.description, 5, 5, new { @class = "form-control" })
                            </div>
                            <div class="col-md-6">

                                <div class="form-group" style="margin-top:115px">
                                    <div class="input-group ">
                                        @Html.EditorFor(model => model.total, new { htmlAttributes = new { @class = "form-control", @required = "required", autocomplete="off" } })
                                        <div class="input-group-append">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2">MKD</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="text-right mt-4">
                            <button type="submit" class="btn btn-primary">Add Revenue</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}




